@font-face {
	font-family: Neon_Regular;
	src: local("Neon_Regular"),
		 url('../fonts/Neon_Regular.ttf');
}

@font-face {
	font-family: Neon_Caps_Regular;
	src: local("Neon_Caps_Regular"),
		 url('../fonts/Neon_Caps_Regular.ttf');
}

*[data-neon] {
	font-family: Neon_Regular;
	font-size:60px;
	line-height:60px;
}

*[data-neon] span {
	z-index: 10;
	position: relative;
	font-weight: normal;
}

*[data-neon='basic'], *[data-neon='custom'] span {
	color: #fff;
	display:inline-block;
	position: relative;
}

.main-block {
	text-align:center;
}

.libcanvas-layers-container {
	left : 0;
	top  : 0;
	position : absolute;
	z-index  : 9;
}

	.libcanvas-layers-container canvas {
		left: 0;
		top : 0;
	}